@model Domain.Repositorio.MovimentoFinanceiro

@{
    ViewBag.Title = "Inserir Movimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movimento</h2>

@using (Html.BeginForm("Create", "Movimento", FormMethod.Post, new { id = "FormMovimento" }))
{
    @Html.ValidationSummary(true)

    <div class="col-lg-6">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Ultimos Gastos</div>
            <div class="panel-body">
            </div>
            <div>
                <div class="row">
                    <div class=" col-lg-10" style="margin-left: 2%">
                        <div class="form-group">
                            <label for="Descriao">Descrição</label>
                            <input type="text" name="Descricao" id="Descricao" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="Categoria">Categoria</label>
                            <input type="text" name="Categoria" id="Categoria" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="Valor">Valor</label>
                            <input type="text" name="Valor" id="Valor" class="form-control money" value="0,00" />
                        </div>

                        <div class="form-group">
                            <label for="DataMovimentacao">Data</label>
                            <input type="text" name="DataMovimentacao" id="DataMovimentacao" class="form-control dateptbr" Value='@DateTime.Now.ToString("dd/MM/yyyy")'/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10" style="margin-left: 2%">
                            <div class="col-lg-1" style="text-align: right">
                                <button type="submit" class="btn btn-primary">Salvar</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="col-lg-6">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Ultimos Gastos</div>
            <div class="panel-body">
            </div>

            <!-- Table -->
            <table class="table" id="tableUltimosGastos">
                <thead>
                    <tr>
                        <td>Descrição</td>
                        <td>Categoria</td>
                        <td>Valor</td>
                        <td>Data</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {

                carregaUltimosGastos();

                $("#FormMovimento").validate(
                    {
                        rules: {
                            Categoria: {
                                required: true,
                                minlength: 3

                            },
                            Valor: {
                                required: true
                            },
                            DataMovimentacao: {
                                required: true
                            }

                        },
                        messages: {
                            Categoria: {
                                required: "O campo categoria é obrigatório",
                                minlength: "Categoria muito curta"

                            },
                            Valor: {
                                required: "O campo valor é obrigatório"
                            },
                            DataMovimentacao: {
                                required: "O campo data é obrigatório"
                            }

                        },
                        submitHandler: function (form) {
                             submitForm(form);
                            return false;
                        }
                    });

                //Cadastra um novo gasto (ajax)
                function submitForm(form) {
                    var dados = $(form).serialize();

                    $.ajax({
                        type: "POST",
                        url: "/Gasto/Create",
                        data: dados,
                        success: function (data) {
                            if (data.Status == "OK") {
                                alert("Gasto Cadastrado com sucesso.");
                                $("#Descricao").val("");
                                $("#Categoria").val("");
                                $("#Valor").val("0,00");
                                carregaUltimosGastos();
                            }
                            else {
                                alert("Erro ao cadastrar Gasto");
                            }
                        }
                    });
                    
                    return false;
                }


                function carregaUltimosGastos() {
                    //Carrega Ultimos Gastos
                    $.ajax({
                        type: "GET",
                        url: "/Gasto/BuscarDadosOitoUltimos",
                        success: function (data) {
                            if (data.Status == "OK") {
                                $("#tableUltimosGastos tbody").empty();
                                for (i = 0; i < data.Data.length; i++) {
                                    $("#tableUltimosGastos tbody").append($("<tr/>")
                                        .append($("<td/>").text(data.Data[i].Descricao))
                                        .append($("<td/>").text(data.Data[i].Categoria))
                                        .append($("<td/>").text(data.Data[i].Valor))
                                        .append($("<td/>").text(data.Data[i].DataMovimentacao))
                                        .append($("<td/>").append($("<a/>").append($("<i/>").addClass("fa fa-times removeitem").attr("pkid", data.Data[i].Id)))));

                                }
                            }
                            else {

                            }
                        }
                    });
                }


                //remove um item
                $("#tableUltimosGastos").delegate(".removeitem", "click", function () {
                    removeItem($(this).attr("pkid"));
                }); 

                function removeItem(pkid) {
                    $.ajax({
                        type: "POST",
                        url: "/Gasto/RemoverItem",
                        data: { id: pkid },
                        success: function (data) {
                            if (data.Status == "OK") {
                                carregaUltimosGastos();
                            }
                            else {

                            }
                        }
                    });
                }
            });
        });
    </script>
}
